*{
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
}
@media (min-width: 360px){
	
	
	body{
		background-color: rgb(148, 148, 148);
	}
	#btnMenu:hover{
		background-color: rgb(87, 86, 86);
		color: #fff;
	}
	.linksMenu{
		border-top: 1px solid #fff;
	}

	.linksMenu a{
		width: 100%;
		text-align:center;
		margin-top:5px;
		text-decoration:none;
		margin-right:0;
		font-size:25px;
		height:60px;
		padding-top:30px;
		color:white;
	}
	.linksMenu a:hover{
		color:rgb(0, 82, 235);
	}

	#footer-div{
		position: relative;
	}
	#btns a{
		background-color: rgb(243, 243, 243);
		width: 100%;
		text-align:center;
		margin-top:5px;
		text-decoration:none;
		color:rgb(0,0,0);
		margin-right:0;
		font-size:25px;
		height:60px;
		padding-top:30px;
	}
	#btns a:hover{
		color:rgb(0, 82, 235);
	}
	.icone{
		width: 30px;
	}
	.separador{
		background-color: transparent;
		padding: 20vw;
	}
	.listFooter{
		text-shadow: 2px 1px #000;
		font-size: 0.8em;
		padding: 8.33vw;
		list-style: none;
		padding-bottom: 30vh;
		margin-bottom: 0;
	}
	#listFooter{
		text-shadow: 2px 1px #000;
		background-color: #333;
		padding: 6.33vw;
		list-style: none;
		text-transform: capitalize;
	}
	#listFooterInf{
		margin-top: -2vw;
	}
	#listFooterInf li{
		margin-bottom: 16px;
	}
	#listFooterInf li a{
		text-transform: lowercase;
	}


	table{
		margin:auto ;
	}
	.table-title{
		text-align: center;
		text-transform: capitalize;
		font-size: 4vw;
		border-radius: 10px 10px 0 0 ;
		background-color: rgb(0, 82, 235);
		margin-bottom: 0;
		margin-left: 8.33%;
		color:#fff;
	}
	td,tr{
		border:1px solid black;
		background-color: rgb(247, 244, 244);
		padding: 10px;
	}
	th{
		border:1px solid black;
		background-color: rgb(247, 244, 244);
	}

	#menu{
		display: none;
		
	}

	input{
		margin:0 8.33%;
		width: calc(8.33%*10);
	}
}

@media (min-width: 576px){
	body{
		background-color: red;
	}
	
}